# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/employee-angular/FileContentIndex/02629f03-d073-4032-80e6-7a8e6ca8fff9.vsidx
/.vs/employee-angular/config/applicationhost.config
/.vs/employee-angular/FileContentIndex/7ded6d22-83cb-47a8-a206-cc1f6e227c03.vsidx
/.vs/employee-angular/FileContentIndex/d745fd33-c0c4-486f-bc5c-17915158a20b.vsidx
/.vs/slnx.sqlite
/.vs/employee-angular/FileContentIndex/0b59000f-37cc-4860-a205-8975cb7e0049.vsidx
